@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  font-family: 'Noto Sans Display', sans-serif;
  color: black;
}

.main-container {
  background-image: url('/wood.jpg');
  object-fit: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
}

.inside-container {
  background-color: white;
  background-image: url('/developer.jpg');
  width: 180px;
  height: 180px;
  border-radius: 15px;
  border: 2px solid black;
}

.left-side-box, .right-side-box {
  background-color: burlywood;
  width: 200px;
  height: 615px;
  padding: 10px 10px 0 10px;
  margin-right: 10px;
  border-radius: 15px;
  border: 2px solid black;
  min-width: 200px;
  max-width: 200px;
}

.left-side-box {
  display: flex;
  justify-content: center;
}

.right-side-box {
  background-color: burlywood;
  margin-left: 10px;
  border-radius: 15px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  color: black;
}

.aboutme {
  background-color: rgb(216, 209, 199);
  width: 650px;
  height: 615px;
  min-width: 650px;
  max-width: 650px;
  border-radius: 15px;
  border: 2px solid black;
}

.skybox {
  border: 2px solid black;
  width: 630px;
  height: 130px;
  margin: 10px;
  background-image: url('/webdev.png');
  border-radius: 15px;
}

.csstext {
  margin-top: 25px;
}

.jstext {
  margin-top: 25px;
}

.circle-top, .circle-middle, .circle-bottom {
  width: 110px;
  height: 110px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  transition: 0.5s;
}

.circle-top {
  object-fit: contain;
}

.infobox-top, .infobox-bottom{
  width: 630px;
  height: 220px;
  background-color: white;
  display: block;
  margin: 10px;
  border-radius: 15px 15px 0 0;
  border: 1px solid black;
  padding: 0 11px 3 11px;
}

.infobox-bottom {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 0px 0 15px 15px;
}

/* Text inside containers */

.helloworldtext {
  margin-top: 180px;
  color: black;
}

p {
  margin: 5px 7px 10px 7px;
  color: black;
  font-size: 15px;
}

.paragraph-text {
  margin: 5px 16px 10px 16px;
}

h2 {
  color: black;
  margin: 8px 8px 8px 8px;
}

.headings {
  margin: 8px 17px 8px 17px;
}

/* Selectors using 'hover */

.circle-top:hover {
  width: 120px;
  height: 120px;
}

.circle-middle {
  object-fit: cover;
}

.circle-middle:hover {
  width: 120px;
  height: 120px;
}

.circle-bottom {
  object-fit: contain;
}

.circle-bottom:hover {
  width: 120px;
  height: 120px;
}

.infobox-top:hover {
  border: 2px solid black;
}

.infobox-bottom:hover {
  border: 2px solid black;
}

.right-side-box:hover {
  border: 2px solid yellow;
}

.left-side-box:hover {
  border: 2px solid yellow;
}

/* End of selectors using 'hover' */

@media(max-width: 1070px) {
  .main-container {
    flex-direction: column;
    width: 100%;
    height: 1100%;
  }

  .right-side-box, .left-side-box {
    min-height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}