@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #0A0C1C;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1B1937;
  width: 327px;
  height: 780px;
  border-radius: 7px;
}

.pic-container {
  width: 327px;
  height: 240px;
}

.picture {
  width: 327px;
  height: 240px;
  background-image: url('mobile-image.png');
  border-radius: 7px 7px 0 0;
}

.insights-container, .para, .stats-top {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.insights-container {
  display: block;
  width: 270px;
  height: 96px;
  font-size: 28px;
  font-weight: 700;
  background-color: #1B1937;
  color: white;
  margin-top: 40px;
}

/* Had to figure out how to get one word with a different color in a paragraph by using the span element.  Only thing is that this element is an 'inline' element, and it through the rest of my paragraph off.  I had to make sure that I used  */

span {
  margin: 0 3px 0 3px;
  color: #AB5CDB;
}

.statspan {
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0;
}

.para {
  width: 255px;
  height: 100px;
  margin-top: 27px;
  background-color: #1B1937;
  color: rgb(219, 219, 219);
  font-size: 15px;
  font-weight: 200;
  line-height: 25px;
}

.stats-top, .stats-middle, .stats-bottom {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  width: 264px;
  height: 56px;
  margin-top: 25px;
  color: rgb(219, 219, 219);
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 25px;
}

@media(min-width: 1200px) {

  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap');

.card-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #1B1937;
  width: 1110px;
  height: 447px;
  border-radius: 7px;
}

.left-container {
  font-family: 'Lexend Deca', sans-serif;
  width: 570px;
  height: 446px;
  background-color: #1B1937;
  border-radius: 7px 0 0 7px;
  color: white;
  text-align: center;
}

.pic-container {
  width: 540px;
  height: 446px;
  border-radius: 0 7px 7px 0;
}

.picture {
  width: 540px;
  height: 446px;
  background-image: url('desktop-image.png');
}

/* Common Fonts */

.insights-container, .para {
  font-family: 'Lexend Deca', sans-serif;
  text-align: left;
}

.insights-container {
  width: 403px;
  height: 88px;
  font-size: 36px;
  font-weight: 700;
  background-color: #1B1937;
  color: white;
  margin: 60px 0 0 60px;
}

.para {
  width: 374px;
  height: 75px;
  margin: 27px 0 0 60px;
  background-color: #1B1937;
  color: rgb(219, 219, 219);
  font-size: 15px;
  font-weight: 200;
  line-height: 25px;
}

.stats-top, .stats-middle, .stats-bottom {
  display: inline-block;
  width: 110px;
  height: 56px;
  text-align: left;
  margin: 80px 38px 0 0;
  color: rgb(219, 219, 219);
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 25px;
}

.statspan {
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0;
}
}